.img{
  width: 250px;
  height: 250px;
}
.display{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont{
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text{
  text-decoration: line-through;
  font-size: 17px;
}
.top{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.percent{
  width: 200px;
  font-size: 32px;
  color: red;
  padding: 25px;
  padding-bottom: 10px;
  text-align: center;
  position: absolute;
  transform: rotate(-45deg);
  top: -15px;
  left: -80px;
  background-color: lightgreen;

}
.fixed{
  position: fixed;
  top: 0px;
  z-index: 2;
}